* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: #0C3455;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #F1F2F2;
}

.banner-displayed {
    width: 622px;
    height: 118px;
    padding-top: 5px;
    padding-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
}

.container-tools {
    width: 278px;
    height: 421px;
    border-radius: 5px;
    margin-top: 22px;
    margin-left: 24px;
    float: left;
    border: 1px solid #E6E7E8;
}

.title {
    font-size: 14px;
    line-height: 16px;
    color: #F1F2F2;
    margin-top: 8px;
    text-align: center;
}

.icons8-search {
    width: 12px;
    height: 12px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTIiIGhlaWdodD0iMTIiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iIzk0OTY5OCI+PHBhdGggZD0iTTk1LjA0MjMyLDEwNi41NDgxOGwxNy43NzY2OSwxNy43NzY2OWMtMi43MTU1LDUuMTc5MDQgLTIuOTk1NDQsMTAuMzMwMDggLTAuMTM5OTgsMTMuMTg1NTVsMzIuNDQ1OTcsMzIuNDQ1OTdjNC4wODcyNCw0LjA4NzI0IDEyLjk4OTU4LDEuODQ3NjUgMTkuODIwMzEsLTUuMDExMDdjNi44NTg3MiwtNi44NTg3MiA5LjA5ODMxLC0xNS43MzMwNyA1LjAxMTA3LC0xOS44MjAzMWwtMzIuNDE3OTcsLTMyLjQ0NTk3Yy0yLjg4MzQ2LC0yLjg1NTQ3IC04LjAzNDUsLTIuNTc1NTIgLTEzLjIxMzU0LDAuMTExOThsLTE3Ljc3NjY5LC0xNy43NDg2OXpNNjAuOTE2NjcsMGMtMzMuNjQ5NzQsMCAtNjAuOTE2NjcsMjcuMjY2OTMgLTYwLjkxNjY3LDYwLjkxNjY3YzAsMzMuNjQ5NzQgMjcuMjY2OTMsNjAuOTE2NjcgNjAuOTE2NjcsNjAuOTE2NjdjMzMuNjQ5NzQsMCA2MC45MTY2NywtMjcuMjY2OTIgNjAuOTE2NjcsLTYwLjkxNjY3YzAsLTMzLjY0OTc0IC0yNy4yNjY5MiwtNjAuOTE2NjcgLTYwLjkxNjY3LC02MC45MTY2N3pNNjAuOTE2NjcsMTA3LjVjLTI1LjcyNzIyLDAgLTQ2LjU4MzMzLC0yMC44NTYxMiAtNDYuNTgzMzMsLTQ2LjU4MzMzYzAsLTI1LjcyNzIyIDIwLjg1NjEyLC00Ni41ODMzMyA0Ni41ODMzMywtNDYuNTgzMzNjMjUuNzI3MjIsMCA0Ni41ODMzMywyMC44NTYxMiA0Ni41ODMzMyw0Ni41ODMzM2MwLDI1LjcyNzIyIC0yMC44NTYxMiw0Ni41ODMzMyAtNDYuNTgzMzMsNDYuNTgzMzN6Ij48L3BhdGg+PC9nPjwvZz48L3N2Zz4=') 50% 50% no-repeat;
    background-size: 70%;
}

.icons8-search:active {
    text-align: center;
    width: 18px;
    height: 18px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iIzAwYWFmZiI+PHBhdGggZD0iTTk1LjA0MjMyLDEwNi41NDgxOGwxNy43NzY2OSwxNy43NzY2OWMtMi43MTU1LDUuMTc5MDQgLTIuOTk1NDQsMTAuMzMwMDggLTAuMTM5OTgsMTMuMTg1NTVsMzIuNDQ1OTcsMzIuNDQ1OTdjNC4wODcyNCw0LjA4NzI0IDEyLjk4OTU4LDEuODQ3NjUgMTkuODIwMzEsLTUuMDExMDdjNi44NTg3MiwtNi44NTg3MiA5LjA5ODMxLC0xNS43MzMwNyA1LjAxMTA3LC0xOS44MjAzMWwtMzIuNDE3OTcsLTMyLjQ0NTk3Yy0yLjg4MzQ2LC0yLjg1NTQ3IC04LjAzNDUsLTIuNTc1NTIgLTEzLjIxMzU0LDAuMTExOThsLTE3Ljc3NjY5LC0xNy43NDg2OXpNNjAuOTE2NjcsMGMtMzMuNjQ5NzQsMCAtNjAuOTE2NjcsMjcuMjY2OTMgLTYwLjkxNjY3LDYwLjkxNjY3YzAsMzMuNjQ5NzQgMjcuMjY2OTMsNjAuOTE2NjcgNjAuOTE2NjcsNjAuOTE2NjdjMzMuNjQ5NzQsMCA2MC45MTY2NywtMjcuMjY2OTIgNjAuOTE2NjcsLTYwLjkxNjY3YzAsLTMzLjY0OTc0IC0yNy4yNjY5MiwtNjAuOTE2NjcgLTYwLjkxNjY3LC02MC45MTY2N3pNNjAuOTE2NjcsMTA3LjVjLTI1LjcyNzIyLDAgLTQ2LjU4MzMzLC0yMC44NTYxMiAtNDYuNTgzMzMsLTQ2LjU4MzMzYzAsLTI1LjcyNzIyIDIwLjg1NjEyLC00Ni41ODMzMyA0Ni41ODMzMywtNDYuNTgzMzNjMjUuNzI3MjIsMCA0Ni41ODMzMywyMC44NTYxMiA0Ni41ODMzMyw0Ni41ODMzM2MwLDI1LjcyNzIyIC0yMC44NTYxMiw0Ni41ODMzMyAtNDYuNTgzMzMsNDYuNTgzMzN6Ij48L3BhdGg+PC9nPjwvZz48L3N2Zz4=') 50% 50% no-repeat;
    background-size: 70%;
}

.search {
    width: 226px;
    height: 18px;
    margin-top: 14px;
    margin-left: 12.5px;
    border-radius: 4px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #E6E7E8;
}

.button-search {
    width: 19px;
    height: 16px;
    float: right;
}

form input[type=text] {
    width: 201px;
    height: 17px;
    font-size: 10px;
    line-height: 12px;
    padding-top: 0.5px;
    padding-left: 5px;
    font-style: italic;
    border: none;
    color: #949698;
    background-color: transparent;
}

.not-display {
    display: none;
}

.active-display {
    display: block;
}

.function {
    width: 118px;
    height: 25px;
    margin-top: 10px;
    margin-left: 12.5px;
}

.function select>button {
    foreground-image: url(stock:chevron-down);
    fill: #F1F2F2;
    margin-bottom: 7px;
}

.function select:hover>button {
    fill: #8DC63F;
}

.function select {
    width: 100%;
    height: 100%;
    padding: 4px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    color: #F1F2F2;
    background: #0C3455;
}

.function select option {
    color: #F1F2F2;
    background: #0C3455;
}

.function select option:hover {
    background: #8DC63F;
}

.select-custom-default {
    color: #F1F2F2;
    background: #0C3455;
}

.selection-tools {
    width: 267px;
    height: 300px;
    margin-top: 18px;
}

.container-tools .selection-tools select {
    width: 267px;
    height: 300px;
    background: none;
}

.container-tools .selection-tools select caption {
    padding-left: 18px;
    fill: #F1F2F2;
    color: #F1F2F2;
    background: none;
}

.container-tools .selection-tools select option:hover {
    stroke: #0af;
}

.container-tools .selection-tools select option {
    margin-left: 20px;
    padding-left: 20px;
    foreground-size: 10px 10px;
    fill: #F1F2F2;
    color: #F1F2F2;
    background: none;
}

.container-tools .selection-tools select caption:checked {
    background-image: url(stock:checkmark-hollow);
    fill: #8DC63F;
    color: #8DC63F;
    background: none;
}

.container-tools .selection-tools select option:checked {
    background-image: url(stock:checkmark-hollow);
    fill: #8DC63F;
    color: #8DC63F;
    background: none;
}

.container-selected-tools {
    width: 278px;
    height: 421px;
    border-radius: 5px;
    float: right;
    margin-top: 22px;
    margin-right: 24px;
    overflow-y: hidden;
    border: 1px solid #F1F2F2;
}

.selected-tools {
    width: 254px;
    height: 383px;
    margin-top: 14px;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
}

#selected {
    width: 100%;
    height: 100%;
    background: none;
}

.btn-tools {
    width: 254px;
    height: 28px;
    margin-top: 8px;
    border-radius: 4px;
    padding-top: 5px;
    padding-left: 30px;
    background-color: #8DC63F;
    color: #F1F2F2;
}

.buttons {
    margin-top: 25x;
    margin-right: 24px;
    float: right;
}

.button {
    width: 68px;
    height: 20px;
    border: 0;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    color: #F1F2F2;
    font: inherit;
    cursor: pointer;
}

.cancel {
    background: #F7941E;
    box-shadow: 2px 2px 0 2px #c56c00;
}

.continue {
    margin-left: 19px;
    background: #8DC63F;
    box-shadow: 2px 2px 0 2px #598a14;
}

.cancel:active {
    box-shadow: 0 0 0 0 #975300, inset 3px 3px 3px #975300;
    transform: translate(4px, 4px);
}

.continue:active {
    box-shadow: 0 0 0 0 #467406, inset 3px 3px 3px #467406;
    transform: translate(4px, 4px);
}