* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: #0C3455;
}

.container {
    width: 635px;
    height: 662px;
    text-align: center;
    vertical-align: middle;
}

.animation {
    width: 500px;
    height: 500px;
    margin: auto;
    background-image: url(img/animation.gif);
    background-repeat: no-repeat;
}