* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #0C3455;
}

.title {
    padding-top: 30px;
    margin-left: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #F1F2F2;
}

.main {
    width: 100%;
    margin-top: 32px;
    margin-left: 24px;
}

.progress {
    width: 492dip;
    height: 9px;
    margin-top: 8px;
    float: left;
    background: #F1F2F2;
    border: 1px solid #083352;
    border-radius: 4px;
    box-sizing: border-box;
}

.progress-bar {
    position: absolute;
    width: 1;
    height: 5px;
    margin-top: 10px;
    margin-left: 1px;
    background: #8DC63F;
    border-radius: 4px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.text-load {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top: 22px;
    margin-left: 1px;
    font-size: 12px;
    line-height: 14px;
    color: #F1F2F2;
}

.button {
    width: 68px;
    height: 20px;
    border: 0;
    margin-right: 24px;
    float: right;
    font: inherit;
    cursor: pointer;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    color: #F1F2F2;
}

.cancel {
    background: #F7941E;
    box-shadow: 2px 2px 0 2px #c56c00;
}

.cancel:active {
    box-shadow: 0 0 0 0 #975300, inset 3px 3px 3px #975300;
    transform: translate(4px, 4px);
}

.details {
    margin-top: 34px;
    margin-left: 25px;
}

.details-button {
    width: 65px;
    height: 14px;
    background: none;
}

.icon-details-right {
    width: 12px;
    height: 14px;
    margin-top: 3px;
    foreground-size: 6dip 6dip;
    foreground-image: url(stock:chevron-right);
    foreground-repeat: no-repeat;
    float: left;
    fill: #F1F2F2;
    background: none;
}

.icon-details-down {
    width: 12px;
    height: 14px;
    margin-top: 5px;
    foreground-size: 8dip 8dip;
    foreground-image: url(stock:chevron-down);
    foreground-repeat: no-repeat;
    float: left;
    fill: #F1F2F2;
    background: none;
}

.title-details {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #F1F2F2;
    vertical-align: middle;
    float: right;
}

.detail {
    margin-top: 13px;
    width: 585px;
    height: 428px;
    background: #323032;
}

.not-display {
    display: none;
}

.active-display {
    display: block;
}