* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: #0C3455;
}

.container {
    width: 640px;
    height: 640px;
    margin: auto;
    background-image: url(img/animation.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
}